Flask==0.12
Flask-Cors==3.0.2
Flask-Dropzone==1.4.1
Flask-GoogleLogin==0.3.1
Flask-HTTPAuth==3.2.3
Flask-Login==0.2.11
flask-talisman==0.7.0
gunicorn==19.8.1
jsonify==0.5
Pillow==4.2.1
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
requests-cache==0.4.13
praw==6.1.1
prawcore==1.0.1
beautifulsoup4==4.7.1
google-cloud-storage==1.13.2
google-auth==1.6.3