/*-------------------------
    Simple reset
--------------------------*/


*{
    margin:0;
    padding:0;
}


/*-------------------------
    General Styles
--------------------------*/


html{
    background: url('http://3.bp.blogspot.com/-i2Ce7HpxxSM/UXO93I9Cj9I/AAAAAAAAAkg/gFARxazhDko/s1600/BG_02.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    padding: 0px;
    margin: 0px;
    font:15px/1.3 Arial, sans-serif;
    color: #4f4f4f;
    background-color: transparent !important;
}

.table {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    background: #F9F9F9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

h1{
    color: rgb(51, 136, 239);
}

#title{
    margin-top: 100px;
    font-weight: bold;
}

a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}


/*-------------------------
    Drop zone Styles
--------------------------*/

.dropzone{
    border: 2px dashed #0087F7;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    min-height: 200px;
}

.file-row {
    padding: 2%;
}

.container{
    width: 100%;
}