<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Free conversion HEIC/HEIF to JPG</title>
    <meta name="description" content="The best free online heic to JPG converter " />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Free HEIC to JPG Online Photo Conversion Tool" />
    <meta property="og:description" content="HEIC converter is a free online tool that converts iOS 11 photos from HEIC to JPG, made with <3 by Anthony Fernandez marshallino16" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@marshallino16" />
    <meta name="twitter:creator" content="@marshallino16">
    <meta name="twitter:title" content="Convert HEIC to JPG for free" />
    <meta name="twitter:description" content=" HeictoJPG converter is a free online tool that converts iOS 11 photos from HEIC to JPG powered by Anthony Fernandez marshallino16." />
    <meta name="copyright" content="Copyright © 2017 Anthony Fernandez" />
    <meta name="author" content="Anthony Fernandez" />
    <link rel="icon" type="image/png" href={{favicon}} />

    <!-- Google web fonts -->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel='stylesheet' />

    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Dropzone -->
    <script src="http://cdn.bootcss.com/dropzone/5.1.1/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/dropzone/5.1.1/min/dropzone.min.css" type="text/css">

    <!-- Skeleton -->
    <link rel="stylesheet" href={{style_normalize}} type="text/css">
    <link rel="stylesheet" href={{style_skeleton}} type="text/css">

    <!-- Our main CSS file -->
    <link rel="stylesheet" href={{style}} type="text/css">

    <!-- Our main JS file -->
    <script src={{script}}></script>
</head>
<body>
    <div id="faq">
        <div class="qa">
            <h4>What does heictojpg.site do?</h4>
            <div class="answer">heictojpg allows you to upload your HEIC photos and convert them to JPG without harming the quality of the photo.</div>
        </div>
        <div class="qa">
            <h4>What is HEIC?</h4>
            <div class="answer">HEIC is the file extension for HEIF format.</div>
        </div>
        <div class="qa">
            <h4>How do I convert my iPhone Heic files to JPGs?</h4>
            <div class="answer">Simply drag and drop, or select, the HEIC photos you would like converted into the optimization box for the conversion process to begin.</div>
        </div>
        <div class="qa">
            <h4>Why is the file size of the JPG so small?</h4>
            <div class="answer">Once your HEIC image has been converted to JPG, it is automatically optimized. This way you are receiving the same hi-res photo, just in a smaller file size.</div>
        </div>
        <div class="qa">
            <h4>What is High Efficiency Image Format?</h4>
            <div class="answer">High Efficiency Image Format, or HEIF, is the file format for HEVC encoded images. HEIF can store various types of images, but the main application of HEIF is to store images that have been compressed using the image tools of the HEVC video compression standard. When you export your photos from iOS 11 you will notice the .heic file extension.</div>
        </div>
        <div class="qa">
            <h4>Do we keep the photos online?</h4>
            <div class="answer">No, we don't. You will need to download all the photos during each session. All converted photos will be deleted every 20 minutes.</div>
        </div>
        <div class="qa">
            <h4>Can I download all photos with one click?</h4>
            <div class="answer">We are not offering this feature for now but we will work on it very soon.</div>
        </div>
        <div class="qa">
            <h4>Do you also optimize JPG images?</h4>
            <div class="answer">Yes, each photo that is converted to a JPG will be optimized giving you the same high quality photo, just in a smaller file size.</div>
        </div>
         <div class="qa">
            <h4>Do you convert JPGs to Heic?</h4>
            <div class="answer">heictojpg can only convert HEIC to JPG images at the moment. But we will be on the App Store very soon with an app to convert JPG files to HEIC for iPhone.</div>
        </div>
         <div class="qa">
            <h4>Why is heictojpg telling me my HEIC file is a JPG?</h4>
            <div class="answer">The reason why you are seeing this error message is that you are trying to convert a JPG image and not a HEIC image. If you'd like to check if your photo is indeed a JPG simply change the file extension from .heic to .jpg. If you can see your photo, then it's a JPG.</div>
        </div>
         <div class="qa">
            <h4>Are you offering an API?</h4>
            <div class="answer">Not currently but we are thinking about offering a Python API for server side conversion</div>
        </div>
    </div>
</body>
</html>